<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<div class="container-fluid" ng-controller="helpCtrl">
    <div class="row">
        <div class="col-sm-6">
            <p class="lead">This is the help page for LutherCourseProposal.</p>
            <h1>Creating a New Proposal</h1>
            <ol>
                <li>
                    The first step is to click the <mark>New Course</mark> 
                    button next to the My Changes section. 
                </li>
                <li>
                    You will be then taken to the fill-out page which contains all of 
                    the neccessary and optional fields for a new course. The necessary
                    fields are the ones marked with a red asterisk.
                </li>
                <li>
                    Fill out the form as needed.
                </li>
                <li>
                    Once finished, hit the submit button at the bottom of the page.
                </li>
            </ol>
            <h1>Editing a Proposal</h1>
            <ol>
                <li>
                    The first step to editing course is under the My Changes section 
                    click the pencil icon next to the course name.
                </li>
                <li>
                    You will be taken to the course-edit form which is the same as the
                    course-proposal form just with your previous information filled in.
                </li>
                <li>
                    Make your edits.
                </li>
                <li>
                    Once finished, click the submit button at the bottom of the page.
                </li>
            </ol>
        </div>
        <div class="col-sm-6">
            <dl>
                <dt>Course Title</dt>
                <dd>This is the title of the course. It should be descriptive. (Required)</dd>
                <dt>Department</dt>
                <dd>This is the department for the course. It is a drop-down list of
                of departments. (Required)</dd>
                <dt>Course Number</dt>
                <dd>This is the number for the course. (Required)</dd>
                <dt>Instructor(s)</dt>
                <dd>These are the instructors for the course. This consists of a 
                drop-down menu and then the result must be added using the add button.
                (Required)</dd>
                <dt>General Requirements Satisfied</dt>
                <dd>These are the general requirements for a course. This is done 
                    using the same way as Instructor(s).</dd>
                <dt>Credit Hours</dt>
                <dd>Number of credit hours. (Required)</dd>
                <dt>Estimated Enrollment</dt>
                <dd>Estimated number of students who probably will enroll. (Required)</dd>
                <dt>Capacity</dt>
                <dd>This is the maximum capacity for a course. (Required)</dd>
                <dt>Terms Offered</dt>
                <dd>This is specifying the terms that the course is offered. It is a 
                drop-down list that can have multiple items by ctrl-clicking each item.
                To remove is another ctrl-click. (Required)</dd>
                <dt>Prerequisites</dt>
                <dd>These are the prerequisites for a course.</dd>
                <dt>Fees</dt>
                <dd>This is for any additional fees necessary for the course.</dd>
                <dt>Catalog Description</dt>
                <dd>This is the description of the course that will go into the catalog.
                (Required)</dd>
                <dt>Rationale</dt>
                <dd>This is the reasoning behind the course and its existance. (Required)</dd>
                <dt>Impact on Major/Minor/Program</dt>
                <dd>This is for describing the ambitions of a course upon completion.</dd>
                <dt>Staffing Implications</dt>
                <dd>This is for describing the neccessary staff for the course.</dd>
            </dl>
        </div>
    </div>
    
</div>